@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

$poppins: 'Poppins', 'sans-serif';

// CORES
$azulEsc: #002062;
$azul: #236BFE;
$azul2: #465F93;
$azulTitulo: #0A1E40;
$amarelo: #ECBC40;
$branco: #F8FAFF;
$texto: #9DA5B3;