@use 'base' as *;

// ESTILOS GERAIS
body{
    font-family: $poppins;
}

.container{
    width: 100vw;
    margin: 0 auto;
}

.btn{
    background-color: $azul;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    padding: .5rem 1rem;
    border-radius: 5px;
    transition: 0.3s ease-in-out;
    &:hover{
        background-color: $azulEscu;
    }
}

// ESTILOS ESPECÍFICOS

.barra-menu{
    .container{
        background-color: $azulEscu;
        display:flex;
        justify-content: space-between;
        align-items: center;
        }
        nav{
            display: flex;
            align-items: center;
            justify-content: space-evenly;
        }
        .menu{
            display: flex;
            align-items: center; 
            justify-content: space-between;      
            li a{
                color: white;
                margin: 0 1rem;
                text-decoration: none;
            }
        }
}