@use 'reset';
@use 'base' as *;

// ESTILOS GERAIS
body{
    font-family: $poppins;
}

.container{
    width: 100vw;
    margin: 0 auto;
}

.btn{
    background-color: $azul;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    padding: .5rem 1rem;
    border-radius: 5px;
    transition: 0.3s ease-in-out;
    &:hover{
        background-color: $azulEscu;
    }
}

// ESTILOS ESPECÍFICOS

.landing{
    height: 850px;
    width: 100%;
    background-image: url('../img/fundo.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    .barra-menu{
        .container{
            display:flex;
            justify-content: space-around;
            align-items: center;
            padding: 2rem 5rem;
            }
            nav{
                display: flex;
                align-items: center;
                justify-content: space-between;
            }
            .menu{
                display: flex;
                align-items: center; 
                justify-content: space-between;  
                li a{
                    color: rgba(255,255,255,0.5);
                    margin: 0 3rem;
                    transition: 0.3s ease-in-out;
                    &:hover, &.active{
                        color: white;
                    }
                }
            }
    }
}


.landing{
}